*{
    margin: 0;
    padding: 0;
}

.backgroundDiv{
    background-image: url('../public/earth-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

.image__overlay{
    position: absolute;
    inset: 0 0 0 0;
    background: black;
    z-index: 1;
    opacity: .4;
}

.search__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 4vh;
}

.search__container--form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    border: 3px solid rgba(255, 254, 254, 0.4);
    padding: 20px;
    border-radius: 16px;
}

.search__container button{
    all: unset;
}
.search__container svg{
    fill: #ffffff;
}

.search__container--input{
    all: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
}

.search__container--input::placeholder{
    color: #ffffff7a;
}

/* result part */

.result__container{
    z-index: 3;
    height: 300px;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    width: 60%;
    margin-top: 16vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.place__image{
    display: inline-block;
    align-self: flex-end;
    scale: 1.6;
    opacity: .7;
    animation: iconAnimation 6s infinite linear alternate;
}

@keyframes iconAnimation {
    0%{
        translate: 0;
    }
    100%{
        translate: 0 -20px;
    }
}

.place__name, .place__pressure, .place__humidity, .place__temp, .place__windSpeed{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.place__name{
    text-transform: capitalize;
    font-size: 10vw;
    margin-bottom: 30px;
    display: inline-block;
}

.place__pressure, .place__humidity, .place__temp, .place__windSpeed{
    margin-bottom: 10px;
}

/* loader */

.spinner__loader{
    background: green;
    position: relative;
    z-index: 2;
    display: block;
}